@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  padding: 10px; /* Padding for smaller screens */
}
.container {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}
form .input-field {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.input-field input {

  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}.input-field1 input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  background: #000000;
  transition: all 0.2s ease;
}

button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: default; /* تغيير المؤشر إلى default */
  border-radius: 6px;
  background: #000000; /* لون فاتح عند عدم الاكتمال */
  transition: all 0.2s ease;
}

button.active {
  background: #000000; /* لون داكن عند الاكتمال */
}

/* تأثير المؤشر غير المفعل */
button:disabled {
  cursor: not-allowed;
}
/* Remove the spinner arrows in number input fields */
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome, Safari, Edge, Opera */
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
    width: 90%;
    box-shadow: none;
  }
  
  .container img {
    height: 70px;
    width: 70px;
  }
  
  .container h4 {
    font-size: 1rem;
  }

  form .input-field {
    flex-direction: column;
    row-gap: 10px;
  }
  
  .input-field select, 
  .input-field input {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  button {
    font-size: 0.875rem;
    padding: 8px 0;
  }
}